.fluid-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

div[class*="chapters-wrapper"] {
    border: 1px solid #ccc;
    div[class*="chapter-"] {
        border-top: 1px solid #ccc;
        &:first-child {
            border-top-width: 0;
        }
        &:nth-child(even) .chapter-point {
            background-color: #F9F9F9;
        }
        .chapter-point {
            display: block;
            padding: 10px 55px 10px 15px;
            text-decoration: none;
            color: #000000;
            position: relative;
            cursor: pointer;
            &:hover {
                background-color: #F5F5F5;
            }
            &.current {
                background-color: #9f9f9f;
            }
        }
        .time {
            float: right;
            position: absolute;
            right: 10px;
        }
    }
}